drf-spectacular
python-dotenv
chromadb
transformers 
huggingface_hub
# Successfully installed hf-xet-1.5.1 huggingface_hub-1.20.1 tokenizers-0.22.2 transformers-5.8.1
docling[rapidocr]
neo4j
redis
celery